.display{
    height: 80px;
    background-color: black;
    width: 85%;
    border-radius: 6px;
    color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 13px 0 13px;
    font-size: 25px;
}